<!DOCTYPE html>
<html>
<head>
  <title>Edit</title>
    <link rel="stylesheet" type="text/css" href="homeStyle.css">
    <style type="text/css">
        body{
          background-color: black;
          color: white;
        }
        A:link {text-decoration:none;color:#FF0080;}
        A:visited {text-decoration:none;color:#FF0080;}
        A:active {text-decoration:none;color:#FF0080;}
        A:hover {text-decoration:underline;color:#FF0080;}
    </style>
</head>
<body link="white" vlink="white">
  <h1>Listing users</h1>
<table>
  <tr>
    <th>Email</th>
    <th>Username</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.username %></td>
    <td><%= link_to 'Show', "/users/#{user.id}" %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<%= link_to 'Home', root_path %>
</body>
</html>